.wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 80vw;
    box-sizing: border-box;
    padding: 20px;
    height: 50vh;
    display: grid;
    background: var(--bgList);
    border-radius: 5px;
    text-align: center;
    position: relative;

}

.btnDel {
    z-index: 1;
    top: 20px;
    right: 20px;
}

.icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}