.wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.65);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    height: 50vh;
    background: var(--bgList);
    display: grid;
    border-radius: 5px;
}

