html, body, #root {
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #2e4f47;
    font: 1.3em 'Droid Sans Mono', serif;
    overflow-y: hidden;
}

.wrapperStyle {
    background: var(--bgMainColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

input {
    color: #2e4f47;
}
